.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-form {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.auth-form h1 {
  font-size: 24px;
  color: #393e46;
  margin-bottom: 20px; 
}

.auth-input {
  background-color: #eeeeee; 
  color: #393e46;
  border: none;
  border-radius: 3.5px;
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  font-size: 16px;
  transition: background-color 0.3s;
}

.auth-input:focus {
  background-color: #d3d3d3; 
  outline: none; 
}

.auth-button {
  background-color: #00adb5; 
  color: #ffffff; 
  border: none;
  border-radius: 3.5px;
  width: 100%;
  padding: 12px; 
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.auth-button:hover {
  background-color: #007d86; 
}

.auth-error {
  color: red; 
  margin-top: 10px; 
}

span {
  font-size: 16px;
  margin-top: 20px; 
}

span a {
  color: #00adb5; 
  text-decoration: none;
  margin-left: 5px;
}

span a:hover {
  text-decoration: underline;
}
