.search-input {
  background-color: #393e46;
  color: #eeeeee;
  border: none;
  border-top-left-radius: 3.5px;
  border-bottom-left-radius: 3.5px;
  width: 300px;
  padding: 10px;
  height: 40px; 
}

.search-button {
  background-color: #00adb5;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-top-right-radius: 3.5px;
  border-bottom-right-radius: 3.5px;
  height: 40px; 
}
